body {
    background-color: #EFF6FF;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 0.7fr;
    align-items: center;
    padding: 20px;
 }
.block{
    border-radius: 16px;
    border: 1px lightgrey solid;
    margin: 10px;
    padding: 20px;
}
.form{
    width:300px;
    display: flex;
    margin: 20px auto;
    padding: 6px 13px 6px;
}